.chatbotPage {
    display: flex;
    justify-content: space-between;
    font-family: 'Questrial', sans-serif;
    background-color: black;
}

.chatbotPage #pane {
    border: 3px black;
    border-radius: "3px";
    outline-style: solid;
}

.checklist {
    align-items: "left";
}

.bot {
    background-color: black;
}

/* fit to website full height */
.react-chatbot-kit-chat-container {
    border: white 4px;
    margin-top: 50px;
}

.react-chatbot-kit-chat-inner-container {
    background-color: #3E3E3E;
    /* hard coded */
    width: 525px;
}

.react-chatbot-kit-chat-header {
    background-color: #3E3E3E;
}

.react-chatbot-kit-chat-input-container {
    width: 525px;
}

.react-chatbot-kit-chat-message-container {
}

.react-chatbot-kit-chat-input {
    font-family: 'Questrial', sans-serif;
}

.react-chatbot-kit-user-chat-message {
    color: black;
    font-family: 'Questrial', sans-serif;
    width: 10000px;
}

.react-chatbot-kit-chat-input-form {
    border-radius: 250px;
}

.react-chatbot-kit-chat-input::placeholder {
}

.react-chatbot-kit-chat-btn-send {
    
}

button.react-chatbot-kit-chat-btn-send {
    /* background-color: white !important; */
}

button.react-chatbot-kit-chat-btn-send svg {
}

.react-chatbot-kit-chat-btn-send-icon {
    background-color: black;
}

.react-chatbot-kit-chat-bot-message-container {
}

/* p::after {
    content: "NOVA";
} */

.react-chatbot-kit-chat-bot-avatar-container {
}

.react-chatbot-kit-chat-bot-avatar {
    content: "NNNN"
}

/* change icon? */
.react-chatbot-kit-chat-bot-avatar-icon {
    content: "NNNN"
}

/* change avatar letter/icon */
.react-chatbot-kit-chat-bot-avatar-letter {
}

/* also hard coded */
.react-chatbot-kit-chat-bot-message {
    color: black;
    font-family: 'Questrial', sans-serif;
    width: 400px;
}

.react-chatbot-kit-chat-bot-message-arrow {

}

.react-chatbot-kit-chat-bot-loading-icon-container {
}

.chatbot-loader-container {
}

#chatbot-loader #chatbot-loader-dot1 {
}

#chatbot-loader #chatbot-loader-dot2 {
}

#chatbot-loader #chatbot-loader-dot3 {
}

.react-chatbot-kit-error {
}

.react-chatbot-kit-error-container {
}

.react-chatbot-kit-error-header {
}

.react-chatbot-kit-error-docs {
}