html,
body,
#root {
  height: 100%;
}

.chatbotPage {
  display: flex;
  justify-content: space-between;
  font-family: 'Questrial', sans-serif;
  background-color: black;
  height: 100%;
}

.chatbotPage #pane {
  border-radius: 10px;
}

.checklist {
  align-items: left;
}

.bot {
  background-color: black;
  flex: 1; /* fill remaining space */
}

.react-chatbot-kit-chat-container {
  height: 100%;
  border: white 4px;
  margin-top: 25px;
}

.react-chatbot-kit-chat-inner-container {
  background-color: #3E3E3E;
  width: 550px;
  padding-top: 15px;
}

.react-chatbot-kit-chat-header {
  background-color: #3E3E3E;
}

.react-chatbot-kit-chat-input-container {
  width: 550px;
}

.react-chatbot-kit-user-chat-message {
  color: black;
  font-family: 'Questrial', sans-serif;
  width: 10000px;
}

.react-chatbot-kit-chat-input-form {
  border-radius: 250px;
}

.react-chatbot-kit-chat-btn-send-icon {
  background-color: black;
}

.react-chatbot-kit-chat-bot-message {
  color: black;
  font-family: 'Questrial', sans-serif;
  width: 400px;
}
