html,
body,
#root {
  height: 100%;
}

.chatbotPage {
  display: flex;
  justify-content: space-between;
  font-family: 'Questrial', sans-serif;
  background-color: black;
  height: 100%;
}

.chatbotPage #pane {
  border-radius: 10px;
}

.checklist {
  align-items: left;
}

.bot {
  background-color: black;
  flex: 1; /* fill remaining space */
}

.react-chatbot-kit-chat-container {
  height: 100%;
  border: white 4px;
  margin-top: 25px;
}

.react-chatbot-kit-chat-inner-container {
    background-color: #3E3E3E;
    /* hard coded */
    width: 525px;
    padding-top: 15px;
}

.react-chatbot-kit-chat-header {
  background-color: #3E3E3E;
}

/* change along with chat-inner-container */
.react-chatbot-kit-chat-input-container {
    width: 550px;
}

.react-chatbot-kit-chat-message-container {
}

.react-chatbot-kit-chat-input {
    font-family: 'Questrial', sans-serif;
}

.react-chatbot-kit-user-chat-message {
    color: black;
    font-family: 'Questrial', sans-serif;
    width: 10000px;
}

.react-chatbot-kit-chat-input-form {
  border-radius: 250px;
}

.react-chatbot-kit-chat-btn-send-icon {
  background-color: black;
}

.react-chatbot-kit-chat-bot-message-container {
}

/* p::after {
    content: "NOVA";
} */

.react-chatbot-kit-chat-bot-avatar-container {
}

.react-chatbot-kit-chat-bot-avatar {
    content: "NNNN"
}

/* change icon? */
.react-chatbot-kit-chat-bot-avatar-icon {
}

/* change avatar letter/icon */
.react-chatbot-kit-chat-bot-avatar-letter {
}

/* also hard coded */
.react-chatbot-kit-chat-bot-message {
    color: black;
    font-family: 'Questrial', sans-serif;
    width: 400px;
}

.react-chatbot-kit-chat-bot-message-arrow {

}

.react-chatbot-kit-chat-bot-loading-icon-container {
}

.chatbot-loader-container {
}

#chatbot-loader #chatbot-loader-dot1 {
}

#chatbot-loader #chatbot-loader-dot2 {
}

#chatbot-loader #chatbot-loader-dot3 {
}

.react-chatbot-kit-error {
}

.react-chatbot-kit-error-container {
}

.react-chatbot-kit-error-header {
}

.react-chatbot-kit-error-docs {
}