.footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    text-align: left;
    padding: 1rem;
    background-color: #E8E8E8;
    font-family: 'Questrial', sans-serif;
    position: "relative"
}