.header {
    font-family: 'Questrial', sans-serif;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: black;
    color: #fff;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .bottom {
    background-color: black;
    color: #fff;
    padding: 1rem;
  }
  .titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .nav-brand {
    font-size: 2rem;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .nav-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    font-family: 'Questrial', sans-serif;
  }

  .nav-subtext {
    font-size: 1rem;
  }
  .iconTop{
    display: flex;
    align-items: flex-start;
    background-color: black;
  }
  .icon {
    max-height: 4.5em;
  }